<div class="container-xs bg-gradient-main p-2 panel-min-height">

  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-2 text-center">
      <r-extension-hyperlink class="img-fluid pr-3" href="https://www.etherscan.com/" pTooltip="Open Etherscan"
                             tooltipPosition="bottom">
        <img alt="Etherscan logo" src="assets\img\etherscan_logo.svg" style="max-width:50px;"/>
      </r-extension-hyperlink>
    </div>

    <!--    Search input-->
    <div class="col-9 justify-content-center p-inputgroup p-placeholder">
      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input
        (ngModelChange)="updateSearchingBools($event)" [(ngModel)]="searchValue" autocomplete="off" autofocus
        coin id="address-searched" pInputText label="Name or symbol"
        placeholder="Address, contract, tx, ..." type=text>
    </div>
  </div>

  <div class="row">
    <div class="col mx-3" id="eth-scanner-links">
      <div class="row">
        <div class="col-4">
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlAddressResearch()" class="d-block"> Address
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlAddressResearch() + ADDRESS_ERC20_TXNS_SUFFIX" class="d-block ml-1">ERC20
            Txns
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlAddressResearch() + ADDRESS_INTERNAL_TXNS_SUFFIX" class="d-block ml-1">
            Internal Txns
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlAddressResearch() + ADDRESS_CONTRACT_SUFFIX" class="d-block ml-1"> Contract
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlAddressResearch() + ADDRESS_LOANS_SUFFIX" class="d-block ml-1"> Loans
          </r-extension-hyperlink>
        </div>
        <div class="col-4">
          <r-extension-hyperlink [disabled]="!searchingAddress" [href]="urlTokenResearch()" class="d-block"> Token
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlTokenResearch() + TOKEN_HOLDERS_SUFFIX" class="d-block ml-1"> Holders
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlTokenResearch() + TOKEN_WRITE_CONTRACT_SUFFIX" class="d-block ml-1">Write
            Contract
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingAddress"
                                 [href]="urlTokenResearch() + TOKEN_READ_CONTRACT_SUFFIX" class="d-block ml-1">Read
            Contract
          </r-extension-hyperlink>
        </div>
        <div class="col-4">
          <r-extension-hyperlink [disabled]="!searchingTx"
                                 [href]="urlTransactionResearch()" class="d-block"> Transaction
          </r-extension-hyperlink>
          <r-extension-hyperlink [disabled]="!searchingBlock"
                                 [href]="urlBlockResearch()" class="d-block"> Block
          </r-extension-hyperlink>
        </div>
      </div>
    </div>
  </div>
</div>
