<!--Error dialog-->
<ng-container *ngIf="coinsFetchingFailed">
  <p-dialog [(visible)]="coinsFetchingFailed" [closeOnEscape]="true"
            [dismissableMask]="true" [draggable]="false"
            [modal]="true" header="Coin list not found" styleClass="loading-error-dialog" visible="true">
    We couldn't load the coins list, please check your Internet access or try later.
  </p-dialog>
</ng-container>

<!--Content-->
<div class="container-xs bg-gradient-main p-2">
  <div class="row my-4 mx-3 no-gutters">
    <!--  Coingecko Logo-->
    <div class="col-2">
      <r-extension-hyperlink class="img" href="https://www.coingecko.com/"
                             pTooltip="Open CoinGecko" showDelay="100" tooltipPosition="bottom">
        <img alt="CoinGecko logo" src="assets\img\coingecko_logo.svg" style="width:50px;"/>
      </r-extension-hyperlink>
    </div>

    <!--  Coin search searchInput-->
    <div class="col-10" style="height: 3em;">
      <app-coin-search-input></app-coin-search-input>
    </div>
  </div>

  <!--  Coin list table-->
  <div class="row justify-content-center">
    <div class="col-12">
      <p-table [lazy]="true" [rows]="8" [scrollable]="true"
               [value]="displayedMarkets" [virtualRowHeight]="tableRowHeight" [virtualScroll]="true"
               scrollHeight="328px" styleClass="p-datatable-striped">
        <!--        Header-->
        <ng-template pTemplate="header">
          <ng-container *ngIf="displayedMarkets && displayedMarkets.length > 0; else listUnset;">
            <tr>
              <th style="width:100%">Details</th>
            </tr>
          </ng-container>
          <ng-template #listUnset>
            <tr>
              <th>
                No coin were found
              </th>
            </tr>
          </ng-template>
        </ng-template>

        <!--        Body-->
        <ng-template let-coin pTemplate="body">
          <tr class="txt-sm">
            <!--            Rank-->
            <td style="width:8.5%;">
              <strong>{{coin.marketCapRank || '?'}}</strong>
            </td>

            <!--            Logo-->
            <td class="text-center" style="width:12%;">
              <span>
                <r-hyperlink>
                  <img (click)="tabManagerService.openTab(coingecko.TABS.COIN_PAGE + coin.id)"
                       [alt]="coin.symbol +'\'s price'"
                       [src]="coin.image"
                       class="hyperlink" height="27px"/>
                </r-hyperlink>
              </span>
            </td>

            <!--            Name-->
            <td style="width:43.5%;">
              <a (click)="tabManagerService.openTab(coingecko.TABS.COIN_PAGE + coin.id)"
                 class="hyperlink" pTooltip="View on CoinGecko" showDelay="100"
                 tooltipPosition="bottom">
                <span>
                  {{coin.name}}
                </span>
                <span class="c-light-blue">
                  ({{coin.symbol | uppercase}})
                </span>
              </a>
            </td>

            <!--            Price-->
            <td style="width:20%;">
              <strong>{{coin.currentPrice | currency:'USD':'symbol'}}</strong>
            </td>

            <!--          Icons -->
            <td class="align-middle px-1" style="width:16%;">
              <div class="d-flex justify-content-around">
                <!--                ChartEx-->
                <i (click)="tabManagerService.openTab(chartex.PAIR.URL + coin.symbol.toUpperCase());"
                   class="pi pi-chart-line chart-icon"
                   pTooltip="Chart" showDelay="100" tooltipPosition="bottom"></i>
                <!--                Favorite-->
                <i (click)="favoriteManagerService.updateAndSave(coin);"
                   [ngClass]="(favoriteManagerService.contains(coin.id)) ? 'favorite-icon' : 'not-favorite-icon'"
                   class="pi pi-star font-weight-bold"
                   pTooltip="Favorite" showDelay="100" tooltipPosition="bottom"></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
