<!--Error dialog-->
<ng-container *ngIf="coinsLoadingFailed">
  <p-dialog [(visible)]="coinsLoadingFailed" [closeOnEscape]="true"
            [dismissableMask]="true" [draggable]="false"
            [modal]="true" header="Coin list not found" styleClass="loading-error-dialog" visible="true">
    We couldn't load the coins list, please check your Internet access or try later.
  </p-dialog>
</ng-container>

<!--Content-->
<div class="container-xs bg-gradient-main p-2">
  <div class="row my-4 mx-3 no-gutters">
    <!--  Coingecko Logo-->
    <div class="col-2">
      <r-extension-hyperlink class="img" href="https://www.coingecko.com/"
                             pTooltip="Open CoinGecko" showDelay="100" tooltipPosition="bottom">
        <img alt="CoinGecko logo" src="assets\img\coingecko_logo.svg" style="width:50px;"/>
      </r-extension-hyperlink>
    </div>

    <!--  Coin search input-->
    <div class="col-10 p-inputgroup align-self-center" style="height: 3em;">
      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input (input)="filterCoins(); fetchFilteredMarkets();"
             [(ngModel)]="searchedCoin" autocomplete="off" autofocus id="coin-searched"
             pInputText placeholder="Name or symbol" type="text">
    </div>
  </div>

  <!--  Coin list table-->
  <div class="row justify-content-center">
    <div class="col-12">
      <!--      <p-table [rows]="6" [scrollable]="true" [value]="displayedCoins" [virtualRowHeight]="6" [virtualScroll]="true"-->
      <!--               scrollHeight="286px" styleClass="p-datatable-striped">-->
      <p-table [rows]="6" [scrollable]="true" [value]="displayedCoins" [virtualRowHeight]="6" [virtualScroll]="true"
               scrollHeight="340px" styleClass="p-datatable-striped">
        <!--        Header-->
        <ng-template pTemplate="header">
          <ng-container *ngIf="displayedCoins && displayedCoins.length > 0; else listUnset;">
            <tr>
              <th style="width:23%">Symbol</th>
              <th style="width:61%">Name</th>
              <th style="width:16%"></th>
            </tr>
          </ng-container>
          <ng-template #listUnset>
            <tr>
              <th>
                No coin were found
              </th>
            </tr>
          </ng-template>
        </ng-template>

        <!--        Rows-->
        <ng-template let-coin pTemplate="body">
          <tr  class="txt-sm">
            <!--            Logo-->
            <td class="text-center" style="width:12%">
              <r-hyperlink>
                <img [src]="coin.image" [alt]="coin.symbol +'\'s price'"
                     (click)="tabManagerService.openTab(coingecko.TABS.COIN_PAGE + coin.id)"
                     class="hyperlink" height="27px"/>
              </r-hyperlink>
            </td>
            <!--            Symbol-->
            <td style="width:13%" class="overflow-hidden">
              <p class="d-inline font-weight-bold">{{coin.symbol | uppercase}}</p>
            </td>
            <!--            Name-->
            <td style="width:39%">
              <a (click)="tabManagerService.openTab(coingecko.TABS.COIN_PAGE + coin.id)"
                 class="hyperlink" pTooltip="View on CoinGecko" showDelay="100"
                 tooltipPosition="bottom">{{coin.name}}</a>
            </td>
            <!--            Price-->
            <td style="width:20%">
              <strong class="">{{coin.currentPrice | currency:'USD':'symbol'}}</strong>
            </td>
            <!--          Icons -->
            <td style="width:16%" class="align-middle px-1">
              <div class="d-flex justify-content-around">
                <!--                ChartEx-->
                <i (click)="tabManagerService.openTab(chartex.PAIR.URL + coin.symbol.toUpperCase());"
                   class="pi pi-chart-line chart-icon"
                   pTooltip="Chart" showDelay="100" tooltipPosition="bottom"></i>
                <!--                Favorite-->
                <i (click)="favoriteManagerService.updateAndSaveFavorite(coin)"
                   [ngClass]="(favoriteCoinsContains(coin)) ? 'favorite-icon' : 'not-favorite-icon'"
                   class="pi pi-star font-weight-bold"
                   pTooltip="Favorite" showDelay="100" tooltipPosition="bottom"></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
