<div class="container mt-5 mb-3 mx-3">
  <div class="row mb-3 align-items-center">
    <div class="p-float-label">
        <input id="coin-searched" type="text" autocomplete="off" pInputText
               [(ngModel)]="searchedCoin"
               (keydown.enter)="tabManagerService.openTab(COIN_PREFIX, firstMatchingCoinID())">
        <label for="coin-searched">Coin</label>
    </div>
  </div>

  <div *ngFor="let coin of coins | matchCoin:searchedCoin | slice:0:5" class="row">
    <div class="row pb-1">
      <div class="col hyperlink font-weight-bold">
        <a (click)="tabManagerService.openTab(COIN_PREFIX, coin.id)" class="mr-2">{{coin.name}}</a>
        <a (click)="tabManagerService.openTab(CHARTEX_PREFIX, coin.symbol)">ChartEx</a>
      </div>
    </div>
  </div>
</div>
