.active-coin {
  background-color: rgba(0, 176, 255, 0.06)!important;
}

.filtered-coin {
}

.favorite {
  color: #ffed00;
}

.favorite:hover {
  font-size: 1.1em;
}

.not-favorite {
  color: #1f1f1f;
}
