<div class="container-xs m-1 border-dark border">
  <div class="row mx-1">
    <!--    Search input-->
    <div class="col-12 my-4">
      <div class="row justify-content-center mx-2 p-placeholder">
        <input (keydown.enter)="tabManagerService.openTab(Url.COINGECKO_PREFIX + selectedCoin.id.toString())"
               [(ngModel)]="searchedCoin" (ngModelChange)="updateDisplayedCoins()" autocomplete="off"
               id="coin-searched"
               pInputText placeholder="Name or symbol"
               type="text">
      </div>
    </div>

    <div class="card">
      <p-table [(selection)]="selectedCoin" [rows]="6"
               [scrollable]="true" [value]="displayedCoins" [virtualRowHeight]="10" [virtualScroll]="true"
               scrollHeight="280px"
               selectionMode="single" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>CoinGecko</th>
            <th>Symbol</th>
            <th>Chart</th>
            <th style="width: 23%;">Favorite</th>
          </tr>
        </ng-template>
        <ng-template let-coin pTemplate="body">
          <tr>
            <td>
              <a (click)="tabManagerService.openTab(Url.COINGECKO_PREFIX + coin.id)"
                 class="mr-2 hyperlink font-weight-bold">{{coin.name}}</a>
            </td>
            <td>
              <p class="mr-2 font-weight-bold">{{coin.symbol | uppercase}}</p>
            </td>
            <!--          ChartEx link-->
            <td>
              <a (click)="tabManagerService.openTab(Url.CHARTEX_PREFIX + coin.symbol)"
                 class="mr-2 hyperlink font-weight-bold">ChartEx</a>
            </td>
            <!--          Favorite icon-->
            <td style="width: 23%;">
              <i (click)="favoriteManagerService.updateAndSaveFavorite(coin)"
                 [ngClass]="(favoriteCoinsContains(coin)) ? 'favorite' : 'not-favorite'"
                 class="pi pi-star justify-content-end align-content-end align-self-end"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <!--        List of filtered coins-->
    <!--        <div class="col-12" *ngFor="let coin of displayedCoins | slice:0:5">-->
    <!--          <div class="row pb-1" (mouseover)="selectedCoin = coin" (mouseout)="selectedCoin = undefined">-->
    <!--            <div class="col" [ngClass]="coin === selectedCoin ? 'active-coin':'filtered-coin'">-->
    <!--              &lt;!&ndash;          CoinGecko link&ndash;&gt;-->
    <!--              <a (click)="tabManagerService.openTab(Url.COINGECKO_PREFIX + coin.id)"-->
    <!--                 class="mr-2 hyperlink">{{coin.name}}</a>-->
    <!--              &lt;!&ndash;          ChartEx link&ndash;&gt;-->
    <!--              <a (click)="tabManagerService.openTab(Url.CHARTEX_PREFIX + coin.symbol)"-->
    <!--                 class="mr-2 hyperlink">ChartEx</a>-->
    <!--              &lt;!&ndash;          Favorite icon&ndash;&gt;-->
    <!--              <i (click)="favoriteManagerService.updateAndSaveFavorite(coin)"-->
    <!--                 class="pi pi-star" [ngClass]="(favoriteCoinsContains(coin)) ? 'favorite' : 'not-favorite'"></i>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
  </div>
</div>
