/****************************************************
                      Global
*****************************************************/
html {
  font-size: 15px;
  min-width: 440px;
  max-width: 440px;
  min-height: 508px;
  max-height: 508px;
}

html[theme='dark-mode'] {
  filter: invert(0.9) hue-rotate(180deg);
}

html[theme='dark-mode'] img{
  filter: invert(0.9) hue-rotate(180deg);
}

/*.p-datatable-scrollable-header-box {*/
/*  padding-right: 0 !important;*/
/*}*/


/****************************************************
                      Miscellaneous
*****************************************************/

.opacity-0{
  opacity: 0.0;
}

.opacity-1{
  opacity: 0.2;
}

.opacity-2{
  opacity: 0.4;
}

.opacity-3{
  opacity: 0.6;
}

.opacity-4{
  opacity: 0.8;
}

/****************************************************
                      BackGround
*****************************************************/
.bg-gradient-main {
  /*background: linear-gradient(173deg, rgba(65, 128, 255, 1) 0%, rgba(203, 29, 114, 1) 100%) !important;*/
  background: rgba(0, 0, 0, 0.08);
}

.bg-bright {
  background-color: #fdfdfd;
}

.bg-dark {
  background-color: #1b1b1b;
}



/****************************************************
                      Text
*****************************************************/
.hyperlink {
  color: #589bf1 !important;
  font-weight: bold;
}

.hyperlink:hover {
  color: #5890e6 !important;
  text-shadow: 0.03em 0.03em 0.14em rgba(90, 148, 248, 0.15);
  text-decoration: underline !important;
}

/****************************************************
                      PrimeNG
*****************************************************/
/* All components */
.p-component {
}

/* TabView */
.p-tabview-panels {
  padding: 0 !important;
}

.panel-min-height {
  min-height: 440px;
}

/* Dialog */
.loading-error-dialog {
  width:83%;
}

