html{
  font-size: 15px!important;
  min-width: 470px;
  min-height: 230px;
}

.bg-bright{
  background-color: #fdfdfd;
}

.bg-dark{
  background-color: #1b1b1b;
}

.hyperlink {
  color: #5895eb !important;
}

.hyperlink:hover {
  text-shadow: 0.02em 0.02em 0.14em rgba(90, 148, 248, 0.23);
}


