html{
  font-size: 15px!important;
}

body {
  background-color: #fcfcfc;
  min-width: 450px;
  min-height: 230px;

}

.hyperlink {
  color: #5889eb !important;
}

.hyperlink:hover {
  text-shadow: 0.06em 0.06em 0.05em rgba(40, 40, 40, 0.07);
}


